<!-- ------------- header-------------- -->




    <!-- banner -->



<div>
    <div class="intro_three">

    </div>
    <br>

    <div class="intro">
        <div class="introduction_text">
            <span><h1>INTRODUCTION</h1></span>
        </div>
        <div class="introtext">

        </div>
    </div>
    <div class="container">
        <div class="container_one">
            <br><br>At SoftTech, we develop innovative and creative products and services that provide total communication and information solutions.
            <br>Among a plethora of services, web design and development, tailor made applications, ERPs, CRMs, e-commerce solutions, business-to-business applications, business-to-client applications, managed hosting and internet portal management are
            few that we offer. Satisfied clients around the globe bear testimony to the quality of our work.
            <br/><br/>As a leader in technology exploring, SofTech is committed to exporting quality software worldwide.
        </div>

        <div class="container_two">
            <span>  The general purpose of SoftTech is to develop and 
                            promote advanced information technologies for multi-user operation.
                            <br/><br/>SoftTech business philosophy is to assure the highest quality product, 
                            total client satisfaction, timely delivery of solutions and the best quality/price ratio found in the industry. 
                            <br/><br/>Our emphasis is on offering a high degree of product user friendliness through a positive, creative and focused company staff.</span>
        </div>
    </div>
    <br>
    <div class="gallery">
        <span><h1>GALLERY</h1></span><br>
    </div>
    <div class="offimg">
        <div class="gala">
            <div class="gala-one"></div>
            <div class="gala-two"></div>
            <div class="gala-three"></div>
            <div class="gala-four"></div>
            <div class="gala-five"></div>
        </div>
        <div class="galb">
            <div class="galb-one"></div>
            <div class="galb-two"></div>
            <div class="galb-three"></div>
            <div class="galb-four"></div>
            <div class="galb-five"></div>
        </div>
        <div class="galc">
            <div class="galc-one"></div>
            <div class="galc-two"></div>
            <div class="galc-three"></div>
            <div class="galc-four"></div>
            <div class="galc-five"></div>
        </div>
    </div>

    <div class="staff_text">MEET THE STAFF</div>

    <div class="staff">
        <div class="president">
            <div class="prestext"><span>GEORGEA SMITH<BR>PRESIDENT</span></div>
        </div>
        <div class="ceo">
            <div class="ceotext"><span>JACK CLIBERT<BR>CEO</span></div>
        </div>
    </div>
    <div class="manager">
        <div class="mantext"><span>JOSEPH BILL<BR>Manager</span></div>
    </div>
</div>
<!-- </div> -->
<div class="footer_text">
    CONTACT US
</div>
<div class="footer">
    <div>
        <form>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                  </select>


            <input type="submit" value="Submit">
        </form>
    </div>

</div>


